<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQiTn7eq3B8jwb4rM8DGJ6WY8uhitNVhI</string>
	<key>GCM_SENDER_ID</key>
	<string>623882469274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.incacook.app</string>
	<key>PROJECT_ID</key>
	<string>incacook-7b97c</string>
	<key>STORAGE_BUCKET</key>
	<string>incacook-7b97c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623882469274:ios:67e81c92db264f26a1c423</string>
</dict>
</plist>